/*
@font-face {
  font-family: "Teko Regular";
  src: url(/css/fonts/Teko-Light.ttf);
}
@font-face {
  font-family: "Teko Regular";
  font-weight: bold;
  src: url(/css/fonts/Teko-Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(/css/fonts/RobotoCondensed-Regular.ttf);
}
*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url(/css/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url(/css/fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url(/css/fonts/OpenSans-Semibold.ttf);
}
/*
span.logo {
  display: block;
  font-size: 300%;
  padding-top: 20px;
  background-color: transparent;
  background: url(/img/deutschland_fl.png) 362px 30px no-repeat;
  font-family: "Teko Regular";
}
span.logo {
  display: block;
  font-size: 300%;
  padding-top: 20px;
  background-color: transparent;
  background: url(/img/deutschland_fl.png) 375px 30px no-repeat;
  font-family: "Teko Regular";
}
*/

a {
  color: #0072FF;
}
a:hover, a:focus {
  color: #0072FF;
  text-decoration: underline;
}
span.logo > a.blue {
  /*font-weight: bold;*/
  color: #5C9BE9;
  text-decoration: none;
  font-weight: bold;
}
span.logo > a.green {
  color: #70B800;
  text-decoration: none;
}
img.logo {
  width: 200px;
  padding: 10px 0 2px;
}
.navbar {
  /*position: relative;*/
  /*min-height: 50px;*/
  /*margin-bottom: 20px;*/
  border: 0;
}
.navbar-inverse {
  background-color: #1D68BF;
  /*border-color: #080808;*/
}
.navbar-brand {
    float: left;
    /* padding: 15px 5px; */
    /* font-size: 18px; */
    /* line-height: 20px; */
    height: 50px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: #5C9BE9;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 45px;
  }
}
.page-header {
  /*padding-bottom: 9px;*/
  /*margin: 40px 0 20px;*/
  /*border-bottom: 1px solid #eeeeee;*/
  border-bottom: 0;
  /*border-left: 9px solid #5C9BE9;*/
  /*padding-left: 20px;*/
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2879D6;
}
.navbar-inverse .navbar-nav > li > a.lsw:hover,
.navbar-inverse .navbar-nav > li > a.lsw:focus {
  color: #fff;
  background-color: #00A751; /* #00A751;*/
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #34AF38;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #2879D6;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8DDE0F;
  color: #195BAF;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: #fff;
  /* height: 55px;  longnames */
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8DDE0F;
  /*color: #ffffff;*/
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #B7D7FF; /*E8F5D3*/
}

h1 {
  color: #1D68BF;
}
.well {
  background-color: #1D68BF;
  padding: 0;
  /*color: #03366B;*/
  color: #fff;
}
.well p {
  padding: 0 10px;
}
/*
.well span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
  letter-spacing: 1px;
}
.well ul {
  list-style-type: none;
  margin-left: -8px;
}
*/

.well a {
  color: #fff;
}
.clear {
  clear: both;
}
.r {
  text-align: right;
}

.carousel {
  max-width: 915px;
  margin: 0 auto;
}
.carousel-indicators {
  display: none;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/*div.carousel-inner > div.black {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  height: 200px;
  background-color: black;
}*/

.bigsmooth {
    font-size: 28px;
    color: #80BAEC;
    font-weight: bold;
}

.top10px {
  padding-top: 10px;
}

.top20px {
  padding-top: 20px;
}

.top40px {
  padding-top: 40px;
}

.bot10px {
  padding-bottom: 10px;
}

.bot20px {
  padding-bottom: 20px;
}

.bot40px {
  padding-bottom: 40px;
}


@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover
  {
    color: black;
  }
  li.dropdown.open {
    background-color: #ebebeb;
  }
}

@media (max-width: 992px) {
  img.logo {
    display: none;
  }
  .carousel {
    display: none;
  }
  iframe {
    display: none;
  }
}
/*
@media (min-width: 768px) {
@media (min-width: 992px) {
@media (min-width: 1200px) {
*/